.logo{
    width: 80px;
    height: 80px;
}

.header{
    background-image: url('../header2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 6px #f11097;
}

.links{
    color: rgb(255, 255, 255);
}

.links:hover{
    color: rgb(254, 253, 254);

}

.links:visited{
    color: white;
}

.contact{
    color: white;
}

.active{
    color: white;
}
.nav-dropdown-text{
    width: 200px;
    color: rgb(3, 3, 3);
    font-weight: 700;
}

.nav-dropdown{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
        
}

 .navbar-nav{
    align-items: center;
    gap: .5rem;
 }

 .navbar-toggler{
    background-color: #e38808;
    border-radius: 1rem;
 }