.logo{
    width: 92px;
    height: 92px;
}

.header{
    background-image: url('../header2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 6px #ffffff;
}

.links{
    color: rgb(255, 255, 255);
}

.links:hover{
    color: rgb(254, 253, 254);

}

.links:visited{
    color: white;
}

.nav-dropdown-text{
    color: rgb(221, 6, 6);
    font-weight: 700;
}

.nav-dropdown{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    width: 100px;    
}

 