.logo{
    width: 92px;
    height: 92px;
}

.header{
    background-color: black;
}

.links{
    color: white;
}

.links:hover{
    color: rgb(201, 23, 156);

}

.nav-dropdown-text{
    color: white;
}

.nav-dropdown{
    background-color: rgb(121, 10, 185);
    border-radius: 1rem;
    color: rgb(255, 255, 255);
   
}