.fixheight{
    border: none;
    padding: 0rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 16px #620683;
}

.image{
    height: 550px;
    width: 100%;
    border-radius: 1rem;
}
.carousel-caption{
    font-size: 48px;
  background: -webkit-linear-gradient(#434343, rgb(255, 125, 60));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgb(255, 125, 60);
 

    font-family: 'Reggae One', cursive;
}