.fixheight{
    border: none;
    padding: 0rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 16px rgb(255, 255, 255);
}

.image{
    height: 600px;
    width: 100%;
    border-radius: 1rem;
}
.carousel-caption{
    font-size: 48px;
  background: -webkit-linear-gradient(#434343, #a808f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px #a808f8;
 

    font-family: 'Reggae One', cursive;
}