.product{
    transition: all 0.7s ease-in;
    cursor: pointer;
    text-decoration: none;
}

.product:hover{
    background: rgb(7,47,252);
    background: radial-gradient(circle, rgb(252, 81, 7) 0%, rgb(247, 147, 16) 100%);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(247,16,63,1) ;
    transform: scale(1.05);
}

.link{
    text-decoration: none;
}