.product{
    transition: all 0.7s ease-in;
    cursor: pointer;
    text-decoration: none;
}

.product:hover{
background: rgb(7,47,252);
background: radial-gradient(circle, rgba(7,47,252,1) 0%, rgba(247,16,63,1) 100%);

    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(247,16,63,1) ;
}

.link{
    text-decoration: none;
}