summary{
    font-family: 'Reggae One';
    font-size: x-large;
    font-style: italic;
    color: black;
}

details{
    background-color: rgb(241, 241, 241);
    padding: 2rem;
    color: rgb(70, 70, 70);
    border-radius: 1rem;
    margin-bottom: 1rem;
}