 main {
  min-height: 80vh;
  background-color: rgb(247, 245, 245);

  background-image: url('./waves.svg');
  background-size:cover;
  background-repeat: no-repeat;
}


 h3{
    padding: 1rem 0;
    color: white;
 }


 h1{
   font-size: 1.8rem;
   padding: 1rem 0;
   color: white;
 }

 h2{
  font-size: 1.4rem;
  padding: 0.5rem;
  color: white;
 }
 
 .rating span{
    margin: 0.1rem;
 }

 a{
   text-decoration: none;
   font-weight: bold;
 }



 